
@import './colors.module.css';

body {
  background-color: var(--rose-pine-background);
  padding: 0px;
  margin: 0px;
  height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

